@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/index.css" rel="stylesheet" type="text/css"/>
    <link href="css/effects.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="images/Logo/logo.png" type="image/x-icon">
    <title>Skilloff</title>
</head>
<body>
<div class="header">
    <h1>Unfortunately, there is nothing here at the moment.😞</h1>
    <p class="subHead">But don't forget to visit out.</p>
    <div class="links">
        <a asp-controller="Home" asp-action="About">About me</a>
        <a asp-controller="Home" asp-action="Social">Social</a>
        <a asp-controller="Home" asp-action="Statistics">Statistics</a>
        <a asp-controller="Home" asp-action="Projects">Projects</a>
    </div>
</div>
<div class="footer">
    Copyright &copy; Skilloff 2022-@Context.Items["Year"]. All rights reserved.
</div>
<div id="particles-js"></div>
<script src="js/particles.js"></script>
<script src="js/app.js"></script>
</body>

</html>