@model string


@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
   
</head>
<body>
<div>
    <h1 align="center">
    <img src="~/images/404.jpg" alt="404"/>
    </h1>
</div>
</body>
</html>