@{
    ViewBag.Title = "About Me";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/projects.css" rel="stylesheet" type="text/css"/>
    <title>Projects</title>
</head>
<body>
<div class="content">
    <details>
        <summary>2022</summary>
        <div class="listProject">
            <div class="project">
                <div>
                    <img alt="CPU" src="~/images/Projects/DuolingoExtension/duolingo.png">
                    <div class="release">05.08.2022</div>
                </div>
                <div class="header">
                    <h3>Duolingo Themes Settings(DTS)</h3>
                </div>
                <div class="description">
                    This is an extension that will allow you to change the color scheme on the
                    Duolingo.com website to ready-made ones. And you can also customize the color scheme for yourself
                    by turning on manual settings.
                </div>
                <div class="urls">
                    Download - <a href="https://chrome.google.com/webstore/detail/duolingo-themes-settings/jmcdcojopmbdjpfjnndnfbjcddjellic">Chrome extensions</a>
                    <br>
                    Source code - <a href="https://github.com/skilloff1337/Google-Extension-Duolingo-Themes-Settings">GitHub</a>
                </div>
            </div>

            <div class="project">
                <div>
                    <img alt="CPU" src="~/images/Projects/TicTacToe/tic-tac-toe.png">
                    <div class="release">27.07.2022</div>
                </div>
                <div class="header">
                    <h3>WPF Game Tic Tac Toe</h3>
                </div>
                <div class="description">
                    Tic-tac-toe game based on WPF. With two modes (3x3 and 15x15) for two players, with statistics.
                    Written under MVVM pattern.
                </div>
                <div class="urls">
                    Download - <a href="https://drive.google.com/drive/folders/1yA40QS0EYAyADIxoIbewCi67MtvvcoK8?usp=sharing">Google drive</a>
                    <br>
                    Source code - <a href="https://github.com/skilloff1337/WPF-Game-Tic-Tac-Toe">GitHub</a>
                </div>
            </div>
            <div class="project">
                <div>
                    <img alt="CPU" src="~/images/Projects/MySite/logo.png">
                    <div class="release">22.06.2022</div>
                </div>

                <div class="header">
                    <h3>ASP Net My Site(skilloff.xyz)</h3>
                </div>

                <div class="description">
                    The site is based on the framework ASP .Net, made for yourself, with a small number of pages and information.
                </div>

                <div class="urls">
                    Download - No download
                    <br>
                    Source code - <a href="https://github.com/skilloff1337/ASP-NET-skiloff.xyz">GitHub</a>
                </div>

            </div>
            <div class="project">
                <div>
                    <img alt="CPU" src="~/images/Projects/Parser/command.png">
                    <div class="release">11.06.2022</div>
                </div>
                <div class="header">
                    <h3>Parser logov</h3>
                </div>
                <div class="description">
                    The program is designed to collect information from text files and then add the necessary data to the database (MongoDB).
                    The first version of the program processed information for more than 5 hours, now it takes 1:30 Minutes.
                    The program processes more than 50.000.000 lines.
                </div>
                <div class="urls">
                    Download - No download
                    <br>
                    Source code - <a href="https://github.com/skilloff1337/parser-logov-oldvmp">GitHub</a>
                </div>
            </div>
            <div class="project">
                <div>
                    <img alt="CPU" src="~/images/Projects/DonutClicker/donut.png">
                    <div class="release">21.05.2022</div>
                </div>
                <div class="header">
                    <h3>Unity Game Donut Clicker</h3>
                </div>
                <div class="description">
                    A casual game where you need to conquer the world with your donuts, so that everyone talks about your donuts in every nook and cranny.
                    To build an empire, you have to curse a donut, and then build an empire on the accumulated donuts, buying business after business.
                </div>
                <div class="urls">
                    Download - <a href=" https://drive.google.com/drive/folders/1IAiWHsC1rZRixxh77TQNoU30U5_eMbU9?usp=sharing">Google Disk</a>
                    <br>
                    Source code - <a href="https://github.com/skilloff1337/-Unity-Game-DonutClicker">GitHub</a>
                </div>
            </div>
            <div class="project">
                <div>
                    <img alt="CPU" src="~/images/Projects/Abbreviation/tool.png">
                    <div class="release">19.04.2022</div>
                </div>
                <div class="header">
                    <h3>Abbreviation of numbers</h3>
                </div>
                <div class="description">
                    This system is designed to reduce huge numbers to small numbers with a nominal degree prefix.
                    Example: 1.534.123 => 1.5 Million
                </div>
                <div class="urls">
                    Download - No download
                    <br>
                    Source code - <a href="https://github.com/skilloff1337/Abbreviation-of-numbers">GitHub</a>
                </div>
            </div>
        </div>
    </details>
    <details>
        <summary>2021 and below</summary>
        <div class="header">Projects closed for a reason, terrible code and my learning :)</div>
    </details>
<h3>Copyright &copy; Skilloff 2022-@Context.Items["Year"]. All rights reserved.</h3>
</div>
</body>
</html>