@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/social.css" rel="stylesheet" type="text/css"/>
    <title>Socials</title>
</head>
<body>
<div class="socialList">
    <a class="link" href="https://vk.com/skillofftop">Vk</a>
    <a class="link" href="https://steamcommunity.com/id/bulbashskilloff/">Steam</a>
    <a class="link" href="https://www.faceit.com/en/players/SKILLOFFTOP">Faceit</a>
    <a class="link" href="https://github.com/skilloff1337/">GitHub</a>
    <a class="link" href="https://linkedin.com/in/skilloff/">LinkedIn</a>
    <a class="link" href="https://steamcommunity.com/id/bulbashskilloff/">Steam</a>
    <a class="link" href="https://www.instagram.com/skilloff1337/">Instagram</a>
</div>
</body>
</html>