@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <link href = "css/effects.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="particles-js"></div>
<script src="js/particles.js"></script>
<script src="js/app.js"></script>
</body>
</html>